<!DOCTYPE html>
<html>
<head>
  <title>Threetrack</title>
  <%= stylesheet_link_tag    "threetrack/application", media: "all" %>
  <%= javascript_include_tag "threetrack/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
